body{
    font: 22px arial , small-caps
}
.navbar {
    background-color: aquamarine;
}
.quem-somos {
    background-color: #1E9973;
}
.margin{
    margin-top: 30px;
    padding-bottom: 30px;
}
.parceiros{
    background-color: aquamarine;
}